@define-color text #F0EADE;
@define-color background rgba(31,32,32,0.25);
@define-color background-alt #1F2020;
@define-color cursor #F0EADE;
@define-color hovered #458588;
@define-color button-background #D5C4A1;
@define-color button-active #9E5A79;
@define-color border #5E3D4D;
@define-color urgent #E2D9C8;
