@define-color text #CAD3F5;
@define-color background rgba(36,39,58,0.25);
@define-color background-alt #24273A;
@define-color cursor #CAD3F5;
@define-color hovered #8AADF4;
@define-color button-background #8BD5CA;
@define-color button-active #A6DA95;
@define-color border #ED8796;
@define-color urgent #A5ADCB;
