@define-color text #F8F8FA;
@define-color background rgba(4,4,14,0.25);
@define-color background-alt #04040E;
@define-color cursor #B4BFC9;
@define-color hovered #EFB8CC;
@define-color button-background #EAECF1;
@define-color button-active #718697;
@define-color border #6E7190;
@define-color urgent #ECEDF0;
