@define-color foreground #F0EADE;
@define-color background rgba(31,32,32,0.25);
@define-color cursor #F0EADE;

@define-color color0 #454646;
@define-color color1 #5E3D4D;
@define-color color2 #9E5A79;
@define-color color3 #B16286;
@define-color color4 #458588;
@define-color color5 #8EC07C;
@define-color color6 #D5C4A1;
@define-color color7 #E2D9C8;
@define-color color8 #9E988C;
@define-color color9 #5E3D4D;
@define-color color10 #9E5A79;
@define-color color11 #B16286;
@define-color color12 #458588;
@define-color color13 #8EC07C;
@define-color color14 #D5C4A1;
@define-color color15 #E2D9C8;
