@define-color foreground #F8F8FA;
@define-color background rgba(4,4,14,0.25);
@define-color cursor #B4BFC9;

@define-color color0 #1E1E24;
@define-color color1 #6E7190;
@define-color color2 #718697;
@define-color color3 #A3A6BA;
@define-color color4 #EFB8CC;
@define-color color5 #E1E3EA;
@define-color color6 #EAECF1;
@define-color color7 #ECEDF0;
@define-color color8 #A5A6A8;
@define-color color9 #6E7190;
@define-color color10 #718697;
@define-color color11 #A3A6BA;
@define-color color12 #EFB8CC;
@define-color color13 #E1E3EA;
@define-color color14 #EAECF1;
@define-color color15 #ECEDF0;
